@media screen and (max-width:767px) {
    .wrapper {
        width: 90vw;
        margin: auto;
        overflow: hidden;
    }

    .logo {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
    .logo img{
        width: 35%;
    }
    
    
    nav {
        width: 100%;
        margin-top: 1vh;

        
    }
    
    nav ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: auto;
        display:flex;
        flex-wrap: wrap;
        justify-items:center;
        justify-content: space-evenly;
    }

    nav ul li a {

        font-size: 14px;

    }

    
    #banner {
        padding: 20px 20px 0px 20px;
        margin-bottom: 0px;
    }
    
    #banner h1 {
        font-size: 50px;
    }

    
    #banner p {
        font-size: 14px;
        margin: -30px 0px 0px 0px;
    }
    
    
    #feature {
        padding: 0px 20px;
        margin-bottom: 10px;
    }
    
    .column {
        width: 45%;
        float: left;
    }
    
    .feature {
        padding: 15px;
    }

    
    .feature h2 {
        font-size: 30px;
        margin-top: 15px;
    }
    
    .feature p {
        font-size: 14px;
    }
    
    .container{
        display: flex;
        flex-direction:column ;

    }
    
    .container div{
        width: 80%;
        padding: 20px;
        margin: auto;
    }
    hr{
        width: 60%;
    }
    #offer h2{
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #3b506c;
    }
    
    #card{
    
        margin-top: 10vh;
        margin-bottom: 8vh;
    }
    #card h2{
        font-size: 30px;
    }
    #card .card{
        display: flex;
        flex-wrap: wrap;
    }
    .card-body{
        max-width: 250px;
        max-height: 350px;
    }
    .card-body h3{
        font-size: 18px;
        margin-top: 25px;
    }

    
    footer{
        flex-direction: column;
        justify-content: space-around;
        column-gap: 0px;
        max-width: 90%;
        padding: 20px 40px;
        text-align: center;
        overflow: hidden;
    }
    footer p{
        font-size: 24px;
        color: #fff;
        text-align: center  ;
    }
    
    .contact{
        width: 90%;
        text-align: center;
        margin: auto;
        justify-content: center;
    
    }

    input,textarea{
        margin: auto;
        height: 35px;
        width: 90%;
        margin-top: 5px ;
        margin-bottom: 5px;
    }

    textarea{
        height:60px;
        width: 95%;
    }
    textarea::placeholder{
        padding-top: 08px;
        color: #3b506c;
    }
    
    .ft-btn{
        width: 95%;
        margin: auto;
        height: 40px;
        background-color: #3b506c;
        border: 3px solid #fff;
        font-size: larger;
        color: #fff;
    }

    
    .ft-btn:hover{
        background-color: #fff;
        color: #0c66ff;
        transition: .8s;
    }

    iframe{
        margin: 2% 0% 2% 2%;
        width: auto;
        height: auto;
    }
}